.menu{
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid $primary20;
    background-color: $transparent;
    border-bottom: 1px solid $transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .website-name{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a{
            font-size: 1.4em;
            font-weight: 500;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 2px;
        }
    }

    .pages{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .page-item{
            position: relative;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: $animationtime;

            &::after{
                content: '';
                position: absolute;
                bottom: -4px;
                width: 0;
                height: 1px;
                background-color: $white;
                transition-duration: $animationtime;
            }

            &:hover{

                &::after{
                    width: 100%;
                }
            }

            a{
                font-size: 1em;
                color: $white;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 5px;
                transition-duration: $animationtime;
            }
        }

        .contact-item{

            &::after{
                display: none;
            }

            a{
                border: 1px solid $white;
                padding: 10px 15px;
                border-radius: 10px;
                background-color: $transparent;
                color: $white;
            }

            &:hover{
                

                a{
                    background-color: $white;
                    color: $primary;
                    transform: scale(1.1);
                    font-weight: 500;
                }
            }
        }
    }

}