.product-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;

    .product-image{
        position: relative;

        .product-images {
            position: relative;
        
            .main-image {
                position: relative;
                height: 600px;
                overflow: hidden;

              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0 auto;
              }
            }
        
            .image-nav {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 95%;
              display: flex;
              justify-content: space-between;
              padding: 0 20px;
        
              button {
                background: $primary50;
                border-radius: 100%;
                padding: 20px 25px;
                border: none;
                font-size: 24px;
                line-height: 1em;
                color: $white;
                cursor: pointer;
                outline: none;
                transition-duration: $animationtime;

                &:hover{
                    transform: scale(1.1);
                    background-color: $forth;
                }
              }
            }
          }
        
          .image-thumbnails {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        
            img {
              width: calc(100% / 4 - 10px);
              height: auto;
              margin-right: 10px;
              cursor: pointer;
              border: 2px solid $transparent;
              transition: border-color 0.3s ease;
        
              &.active {
                border-color: $forth; // Highlight active thumbnail
              }

              &:hover{
                border-color: $forth;
              }
        
              &:last-child {
                margin-right: 0;
              }
            }
          }
    }

    
  
    .product-info {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        box-sizing: border-box;

        .product-content{
          padding: 50px;
          height: 100%;
          width: 100%;

          .product-category{
            font-size: 1.4em;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            padding: 10px 20px;
            color: $white;
            background-color: $forth;
            border-radius: 15px;
            letter-spacing: 2px;
          }

          h1{
            width: 100%;
            margin: 10px 0;
            margin-top: 40px;
            font-size: 3em;
            text-transform: uppercase;
            border-bottom: 1px solid $primary;
          }
  
          p{
            width: 100%;
            margin: 10px 0;
            font-size: 1.2em;
            font-weight: 400;
            color: $third;
          }

          .product-value{
            font-weight: 700;
            font-size: 1.2em;
            
          }

          .product-description{
            margin: 20px 0;
            font-weight: 400;
            line-height: 1.2em;
            color: $primary;
          }

          .product-button{
            padding: 10px 20px;
            border-radius: 15px;
            background-color: $transparent;
            color: $third;
            border: 1px solid $third;
            margin-top: 50px;
            display: flex;
            width: fit-content;
            font-size: 1em;
            text-transform: uppercase;
            transition-duration: $animationtime;

            &:last-child{
              margin-left: 20px;
            }
            
            &:hover{
              box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
              background-color: $third;
              color: $white;
            }
          }
        }

        .product-contact-info{
          width: 90%;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
          padding: 50px;
          border-radius: 25px;
          margin-top: 50px;
          display: flex;
          justify-content: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          .published-person{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            flex-wrap: nowrap;
            width: 65%;

            .published-person-image{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              background-color: $third;
              border-radius: 100%;
              position: relative;
              max-width: 40px;

              img{
                width: 100%;
                height: 100%;
                max-width: 30px;
              }
            }

            .published-person-content{
              display: flex;
              justify-content: center;
              align-content: center;
              flex-wrap: wrap;
              margin-left: 10px;

              span{
                width: 100%;
                margin: 0;
              }

              .published-person-name{
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: 600;
                color: $third;
              }

              .published-person-title{
                font-weight: 300;
                margin-top: 5px;
              }
            }
          }

          .product-reference{
            width: 35%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            span{
              width: 100%;
              font-weight: 300;
            }

            .product-reference-value{
              margin-top: 5px;
              font-size: 1.2em;
              font-weight: 400;
            }
          }

        }

    }
  }
  