@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800;900&family=Lato:wght@400&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gridrowfull {
  width: 100%;
}

.gridrow {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .gridrow {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .gridrow {
    width: 1170px;
  }
}

.gridrowfull, .gridrow {
  display: flex;
  flex-wrap: wrap;
}
.gridrowfull .col, .gridrow .col {
  flex: 1;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .col-1, .gridrow .col-1 {
  box-sizing: border-box;
  width: 8.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-1, .gridrow .offset-1 {
  margin-left: 8.3333333333%;
}
.gridrowfull .col-2, .gridrow .col-2 {
  box-sizing: border-box;
  width: 16.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-2, .gridrow .offset-2 {
  margin-left: 16.6666666667%;
}
.gridrowfull .col-3, .gridrow .col-3 {
  box-sizing: border-box;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-3, .gridrow .offset-3 {
  margin-left: 25%;
}
.gridrowfull .col-4, .gridrow .col-4 {
  box-sizing: border-box;
  width: 33.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-4, .gridrow .offset-4 {
  margin-left: 33.3333333333%;
}
.gridrowfull .col-5, .gridrow .col-5 {
  box-sizing: border-box;
  width: 41.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-5, .gridrow .offset-5 {
  margin-left: 41.6666666667%;
}
.gridrowfull .col-6, .gridrow .col-6 {
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-6, .gridrow .offset-6 {
  margin-left: 50%;
}
.gridrowfull .col-7, .gridrow .col-7 {
  box-sizing: border-box;
  width: 58.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-7, .gridrow .offset-7 {
  margin-left: 58.3333333333%;
}
.gridrowfull .col-8, .gridrow .col-8 {
  box-sizing: border-box;
  width: 66.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-8, .gridrow .offset-8 {
  margin-left: 66.6666666667%;
}
.gridrowfull .col-9, .gridrow .col-9 {
  box-sizing: border-box;
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-9, .gridrow .offset-9 {
  margin-left: 75%;
}
.gridrowfull .col-10, .gridrow .col-10 {
  box-sizing: border-box;
  width: 83.3333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-10, .gridrow .offset-10 {
  margin-left: 83.3333333333%;
}
.gridrowfull .col-11, .gridrow .col-11 {
  box-sizing: border-box;
  width: 91.6666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-11, .gridrow .offset-11 {
  margin-left: 91.6666666667%;
}
.gridrowfull .col-12, .gridrow .col-12 {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.gridrowfull .offset-12, .gridrow .offset-12 {
  margin-left: 100%;
}
@media (min-width: 750px) {
  .gridrowfull .col-t, .gridrow .col-t {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t, .gridrow .offset-t {
    margin-left: 0;
  }
  .gridrowfull .col-t-1, .gridrow .col-t-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-1, .gridrow .offset-t-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-t-2, .gridrow .col-t-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-2, .gridrow .offset-t-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-t-3, .gridrow .col-t-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-3, .gridrow .offset-t-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-t-4, .gridrow .col-t-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-4, .gridrow .offset-t-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-t-5, .gridrow .col-t-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-5, .gridrow .offset-t-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-t-6, .gridrow .col-t-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-6, .gridrow .offset-t-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-t-7, .gridrow .col-t-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-7, .gridrow .offset-t-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-t-8, .gridrow .col-t-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-8, .gridrow .offset-t-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-t-9, .gridrow .col-t-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-9, .gridrow .offset-t-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-t-10, .gridrow .col-t-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-10, .gridrow .offset-t-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-t-11, .gridrow .col-t-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-11, .gridrow .offset-t-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-t-12, .gridrow .col-t-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-t-12, .gridrow .offset-t-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .gridrowfull .col-d, .gridrow .col-d {
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d, .gridrow .offset-d {
    margin-left: 0;
  }
  .gridrowfull .col-d-1, .gridrow .col-d-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-1, .gridrow .offset-d-1 {
    margin-left: 8.3333333333%;
  }
  .gridrowfull .col-d-2, .gridrow .col-d-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-2, .gridrow .offset-d-2 {
    margin-left: 16.6666666667%;
  }
  .gridrowfull .col-d-3, .gridrow .col-d-3 {
    box-sizing: border-box;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-3, .gridrow .offset-d-3 {
    margin-left: 25%;
  }
  .gridrowfull .col-d-4, .gridrow .col-d-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-4, .gridrow .offset-d-4 {
    margin-left: 33.3333333333%;
  }
  .gridrowfull .col-d-5, .gridrow .col-d-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-5, .gridrow .offset-d-5 {
    margin-left: 41.6666666667%;
  }
  .gridrowfull .col-d-6, .gridrow .col-d-6 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-6, .gridrow .offset-d-6 {
    margin-left: 50%;
  }
  .gridrowfull .col-d-7, .gridrow .col-d-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-7, .gridrow .offset-d-7 {
    margin-left: 58.3333333333%;
  }
  .gridrowfull .col-d-8, .gridrow .col-d-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-8, .gridrow .offset-d-8 {
    margin-left: 66.6666666667%;
  }
  .gridrowfull .col-d-9, .gridrow .col-d-9 {
    box-sizing: border-box;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-9, .gridrow .offset-d-9 {
    margin-left: 75%;
  }
  .gridrowfull .col-d-10, .gridrow .col-d-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-10, .gridrow .offset-d-10 {
    margin-left: 83.3333333333%;
  }
  .gridrowfull .col-d-11, .gridrow .col-d-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-11, .gridrow .offset-d-11 {
    margin-left: 91.6666666667%;
  }
  .gridrowfull .col-d-12, .gridrow .col-d-12 {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridrowfull .offset-d-12, .gridrow .offset-d-12 {
    margin-left: 100%;
  }
}
.gridrowfull.nogutter .col, .gridrowfull.nogutter .col-t, .gridrowfull.nogutter .col-d, .gridrow.nogutter .col, .gridrow.nogutter .col-t, .gridrow.nogutter .col-d {
  padding: 0;
}
.gridrowfull.nogutter .col-1, .gridrowfull.nogutter .col-t-1, .gridrowfull.nogutter .col-d-1, .gridrow.nogutter .col-1, .gridrow.nogutter .col-t-1, .gridrow.nogutter .col-d-1 {
  padding: 0;
}
.gridrowfull.nogutter .col-2, .gridrowfull.nogutter .col-t-2, .gridrowfull.nogutter .col-d-2, .gridrow.nogutter .col-2, .gridrow.nogutter .col-t-2, .gridrow.nogutter .col-d-2 {
  padding: 0;
}
.gridrowfull.nogutter .col-3, .gridrowfull.nogutter .col-t-3, .gridrowfull.nogutter .col-d-3, .gridrow.nogutter .col-3, .gridrow.nogutter .col-t-3, .gridrow.nogutter .col-d-3 {
  padding: 0;
}
.gridrowfull.nogutter .col-4, .gridrowfull.nogutter .col-t-4, .gridrowfull.nogutter .col-d-4, .gridrow.nogutter .col-4, .gridrow.nogutter .col-t-4, .gridrow.nogutter .col-d-4 {
  padding: 0;
}
.gridrowfull.nogutter .col-5, .gridrowfull.nogutter .col-t-5, .gridrowfull.nogutter .col-d-5, .gridrow.nogutter .col-5, .gridrow.nogutter .col-t-5, .gridrow.nogutter .col-d-5 {
  padding: 0;
}
.gridrowfull.nogutter .col-6, .gridrowfull.nogutter .col-t-6, .gridrowfull.nogutter .col-d-6, .gridrow.nogutter .col-6, .gridrow.nogutter .col-t-6, .gridrow.nogutter .col-d-6 {
  padding: 0;
}
.gridrowfull.nogutter .col-7, .gridrowfull.nogutter .col-t-7, .gridrowfull.nogutter .col-d-7, .gridrow.nogutter .col-7, .gridrow.nogutter .col-t-7, .gridrow.nogutter .col-d-7 {
  padding: 0;
}
.gridrowfull.nogutter .col-8, .gridrowfull.nogutter .col-t-8, .gridrowfull.nogutter .col-d-8, .gridrow.nogutter .col-8, .gridrow.nogutter .col-t-8, .gridrow.nogutter .col-d-8 {
  padding: 0;
}
.gridrowfull.nogutter .col-9, .gridrowfull.nogutter .col-t-9, .gridrowfull.nogutter .col-d-9, .gridrow.nogutter .col-9, .gridrow.nogutter .col-t-9, .gridrow.nogutter .col-d-9 {
  padding: 0;
}
.gridrowfull.nogutter .col-10, .gridrowfull.nogutter .col-t-10, .gridrowfull.nogutter .col-d-10, .gridrow.nogutter .col-10, .gridrow.nogutter .col-t-10, .gridrow.nogutter .col-d-10 {
  padding: 0;
}
.gridrowfull.nogutter .col-11, .gridrowfull.nogutter .col-t-11, .gridrowfull.nogutter .col-d-11, .gridrow.nogutter .col-11, .gridrow.nogutter .col-t-11, .gridrow.nogutter .col-d-11 {
  padding: 0;
}
.gridrowfull.nogutter .col-12, .gridrowfull.nogutter .col-t-12, .gridrowfull.nogutter .col-d-12, .gridrow.nogutter .col-12, .gridrow.nogutter .col-t-12, .gridrow.nogutter .col-d-12 {
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
  color: #151515;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}
@media (min-width: 750px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/* ======================== */
/* ======= HEADINGS ======= */
/* ======================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 0;
  line-height: 1.414;
}

h1, .h1, h2, .h2 {
  font-size: 2.2rem;
}

p, li, div, span, a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

* {
  font-family: "Lato", sans-serif;
  color: #151515;
}

/* ============================== */
/* ======= TEXT ALIGNMENT ======= */
/* ============================== */
.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.menu {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(21, 21, 21, 0.1254901961);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition-duration: 0.3s;
}
.menu.menu-active {
  background-color: #ffffff;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.menu.menu-active .website-name a {
  color: #151515;
}
.menu.menu-active .pages .page-item a {
  color: #151515;
}
.menu.menu-active .pages .page-item::after {
  background-color: #151515;
}
.menu.menu-active .pages .contact-item a {
  border-color: #151515;
}
.menu.menu-active .pages .contact-item a:hover {
  background-color: #151515;
  color: #ffffff;
}
.menu .website-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu .website-name a {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}
.menu .pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu .pages .page-item {
  position: relative;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.menu .pages .page-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.menu .pages .page-item:hover::after {
  width: 100%;
}
.menu .pages .page-item a {
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition-duration: 0.3s;
}
.menu .pages .contact-item::after {
  display: none;
}
.menu .pages .contact-item a {
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.menu .pages .contact-item:hover a {
  background-color: #ffffff;
  color: #151515;
  transform: scale(1.1);
  font-weight: 500;
}

.menu-intern {
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(21, 21, 21, 0.1254901961);
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  transition-duration: 0.3s;
}
.menu-intern.menu-active {
  background-color: #ffffff;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.menu-intern.menu-active .website-name a {
  color: #151515;
}
.menu-intern.menu-active .pages .page-item a {
  color: #151515;
}
.menu-intern.menu-active .pages .page-item::after {
  background-color: #151515;
}
.menu-intern.menu-active .pages .contact-item a {
  border-color: #151515;
}
.menu-intern.menu-active .pages .contact-item a:hover {
  background-color: #151515;
  color: #ffffff;
}
.menu-intern .website-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-intern .website-name a {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}
.menu-intern .pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-intern .pages .page-item {
  position: relative;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.menu-intern .pages .page-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.menu-intern .pages .page-item:hover::after {
  width: 100%;
}
.menu-intern .pages .page-item a {
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition-duration: 0.3s;
}
.menu-intern .pages .contact-item::after {
  display: none;
}
.menu-intern .pages .contact-item a {
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.menu-intern .pages .contact-item:hover a {
  background-color: #ffffff;
  color: #151515;
  transform: scale(1.1);
  font-weight: 500;
}

.cover-section {
  height: 100vh;
  background-image: url("././assets/house-03.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.cover-section .cover-opacity {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(21, 21, 21, 0.6078431373);
}
.cover-section .cover-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
}
.cover-section .cover-text h1 {
  color: #ffffff;
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.cover-section .cover-text p {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  line-height: 1.2em;
}
.cover-section .cover-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 1;
  background-color: #ffffff;
  padding: 50px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.cover-section .cover-search .input-div {
  display: flex;
  flex-wrap: wrap;
}
.cover-section .cover-search .input-div input, .cover-section .cover-search .input-div label {
  width: 100%;
}
.cover-section .cover-search .input-div label {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}
.cover-section .cover-search .input-div select {
  margin-top: 20px;
  border: 1px solid #151515;
  min-width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.cover-section .cover-search .input-div select::-ms-expand {
  display: none;
}
.cover-section .cover-search .input-div select:hover {
  background-color: #4F6F52;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
}
.cover-section .cover-search .input-div input {
  min-width: 100%;
  padding: 0 20px;
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #151515;
  transition-duration: 0.3s;
}
.cover-section .cover-search .input-div input::-moz-placeholder {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}
.cover-section .cover-search .input-div input::placeholder {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}
.cover-section .cover-search .search-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cover-section .cover-search .search-button button {
  background-color: #4F6F52;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
}
.cover-section .cover-search .search-button button:hover {
  background-color: #1A4D2E;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  body .cover-section .cover-text h1 {
    font-size: 3em;
    letter-spacing: 5px;
  }
  body .cover-section .cover-search {
    margin: 50px 20px 0;
  }
  body .cover-section .cover-search .input-div select {
    margin-top: 10px;
  }
  body .cover-section .cover-search .input-div {
    margin-top: 20px;
  }
  body .cover-section .cover-search .input-div:first-child {
    margin-top: 0;
  }
  body .cover-section .cover-search .input-div label {
    text-align: center;
  }
  body .cover-section .cover-search .search-button {
    margin-top: 20px;
  }
  body .highlight-section .highlight-title span {
    line-height: 1.2em;
  }
  body .highlight-section .highlight-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px;
  }
  body .highlight-section .highlight-list .highlight-item {
    width: 300px;
    min-width: 300px;
  }
}
.highlight-section {
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
.highlight-section .highlight-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.highlight-section .highlight-title h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1A4D2E;
}
.highlight-section .highlight-title span {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}
.highlight-section .highlight-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.highlight-section .highlight-list .highlight-item {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0;
  border-radius: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 10px;
  width: calc(33.3333333333% - 120px);
}
.highlight-section .highlight-list .highlight-item:hover img {
  transform: scale(1.1);
}
.highlight-section .highlight-list .highlight-item .highlight-item-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.highlight-section .highlight-list .highlight-item .highlight-item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
.highlight-section .highlight-list .highlight-item .highlight-item-type {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  background-color: #1A4D2E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.highlight-section .highlight-list .highlight-item .highlight-item-type span {
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info {
  padding: 30px 20px;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info .highlight-item-title h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price {
  margin-top: 10px;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price span {
  font-size: 1.6em;
  font-weight: 400;
  color: #1A4D2E;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.highlight-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info span {
  width: 50%;
  margin: 5px 0;
}

.highlight-comprar-section {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.highlight-comprar-section .highlight-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.highlight-comprar-section .highlight-title h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1A4D2E;
}
.highlight-comprar-section .highlight-title span {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}
.highlight-comprar-section .highlight-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.highlight-comprar-section .highlight-list .highlight-item {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0;
  border-radius: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 10px;
  width: calc(33.3333333333% - 120px);
}
.highlight-comprar-section .highlight-list .highlight-item:hover img {
  transform: scale(1.1);
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-type {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  background-color: #1A4D2E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-type span {
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info {
  padding: 30px 20px;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-title h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price {
  margin-top: 10px;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price span {
  font-size: 1.6em;
  font-weight: 400;
  color: #1A4D2E;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.highlight-comprar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info span {
  width: 50%;
  margin: 5px 0;
}

.highlight-arrendar-section {
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
.highlight-arrendar-section .highlight-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.highlight-arrendar-section .highlight-title h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1A4D2E;
}
.highlight-arrendar-section .highlight-title span {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}
.highlight-arrendar-section .highlight-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.highlight-arrendar-section .highlight-list .highlight-item {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0;
  border-radius: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 10px;
  width: calc(33.3333333333% - 120px);
}
.highlight-arrendar-section .highlight-list .highlight-item:hover img {
  transform: scale(1.1);
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-type {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  background-color: #1A4D2E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-type span {
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info {
  padding: 30px 20px;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-title h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price {
  margin-top: 10px;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-price span {
  font-size: 1.6em;
  font-weight: 400;
  color: #1A4D2E;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.highlight-arrendar-section .highlight-list .highlight-item .highlight-item-info .highlight-item-more-info span {
  width: 50%;
  margin: 5px 0;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-detail .product-image {
  position: relative;
}
.product-detail .product-image .product-images {
  position: relative;
}
.product-detail .product-image .product-images .main-image {
  position: relative;
  height: 600px;
  overflow: hidden;
}
.product-detail .product-image .product-images .main-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.product-detail .product-image .product-images .image-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.product-detail .product-image .product-images .image-nav button {
  background: rgba(21, 21, 21, 0.6078431373);
  border-radius: 100%;
  padding: 20px 25px;
  border: none;
  font-size: 24px;
  line-height: 1em;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition-duration: 0.3s;
}
.product-detail .product-image .product-images .image-nav button:hover {
  transform: scale(1.1);
  background-color: #4F6F52;
}
.product-detail .product-image .image-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.product-detail .product-image .image-thumbnails img {
  width: calc(25% - 10px);
  height: auto;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border-color 0.3s ease;
}
.product-detail .product-image .image-thumbnails img.active {
  border-color: #4F6F52;
}
.product-detail .product-image .image-thumbnails img:hover {
  border-color: #4F6F52;
}
.product-detail .product-image .image-thumbnails img:last-child {
  margin-right: 0;
}
.product-detail .product-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
}
.product-detail .product-info .product-content {
  padding: 50px;
  height: 100%;
  width: 100%;
}
.product-detail .product-info .product-content .product-category {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #4F6F52;
  border-radius: 15px;
  letter-spacing: 2px;
}
.product-detail .product-info .product-content h1 {
  width: 100%;
  margin: 10px 0;
  margin-top: 40px;
  font-size: 3em;
  text-transform: uppercase;
  border-bottom: 1px solid #151515;
}
.product-detail .product-info .product-content p {
  width: 100%;
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: 400;
  color: #1A4D2E;
}
.product-detail .product-info .product-content .product-value {
  font-weight: 700;
  font-size: 1.2em;
}
.product-detail .product-info .product-content .product-description {
  margin: 20px 0;
  font-weight: 400;
  line-height: 1.2em;
  color: #151515;
}
.product-detail .product-info .product-content .product-button {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: #1A4D2E;
  border: 1px solid #1A4D2E;
  margin-top: 50px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.product-detail .product-info .product-content .product-button:last-child {
  margin-left: 20px;
}
.product-detail .product-info .product-content .product-button:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #1A4D2E;
  color: #ffffff;
}
.product-detail .product-info .product-contact-info {
  width: 90%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 50px;
  border-radius: 25px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.product-detail .product-info .product-contact-info .published-person {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 65%;
}
.product-detail .product-info .product-contact-info .published-person .published-person-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #1A4D2E;
  border-radius: 100%;
  position: relative;
  max-width: 40px;
}
.product-detail .product-info .product-contact-info .published-person .published-person-image img {
  width: 100%;
  height: 100%;
  max-width: 30px;
}
.product-detail .product-info .product-contact-info .published-person .published-person-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 10px;
}
.product-detail .product-info .product-contact-info .published-person .published-person-content span {
  width: 100%;
  margin: 0;
}
.product-detail .product-info .product-contact-info .published-person .published-person-content .published-person-name {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #1A4D2E;
}
.product-detail .product-info .product-contact-info .published-person .published-person-content .published-person-title {
  font-weight: 300;
  margin-top: 5px;
}
.product-detail .product-info .product-contact-info .product-reference {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.product-detail .product-info .product-contact-info .product-reference span {
  width: 100%;
  font-weight: 300;
}
.product-detail .product-info .product-contact-info .product-reference .product-reference-value {
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 400;
}

.breadcrumbs {
  padding: 30px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.breadcrumbs a {
  text-transform: uppercase;
  margin: 0 5px;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  transition-duration: 0.3s;
}
.breadcrumbs a:first-child {
  margin-left: 0;
}
.breadcrumbs a::after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs a:hover {
  font-weight: 400;
}
.breadcrumbs span {
  font-weight: 700;
}

.category-section {
  padding: 0 15px;
}
.category-section .category-title {
  margin-top: 50px;
}
.category-section .category-title h1 {
  font-size: 3em;
  text-transform: normal;
  font-weight: 700;
  color: #1A4D2E;
}
.category-section .category-title h1 span {
  color: black;
}
.category-section .category-title span {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.category-section .category-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
}
.category-section .category-content .category-filters .category-filter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-section .category-content .category-filters .category-filter label {
  width: 100%;
  margin-top: 40px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.category-section .category-content .category-filters .category-filter label:first-child {
  margin-top: 0;
}
.category-section .category-content .category-filters .category-filter label > * {
  width: 100%;
  margin-top: 10px;
}
.category-section .category-content .category-filters .category-filter label select {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1A4D2E;
  color: #1A4D2E;
  cursor: pointer;
}
.category-section .category-content .category-filters .category-filter label input {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  color: #1A4D2E;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: rgba(21, 21, 21, 0.1254901961);
  border: none;
}
.category-section .category-content .category-filters .category-filter label input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #1A4D2E;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.category-section .category-content .category-filters .category-filter label input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #1A4D2E;
  border-radius: 50%;
  border: none;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.category-section .category-content .category-filters .category-filter label input::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label input::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label input:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(26, 77, 46, 0.1215686275);
}
.category-section .category-content .category-filters .category-filter label .input-value {
  margin-top: 10px;
  text-align: left;
}
.category-section .category-content .category-filters .category-filter .reset-button {
  border: 1px solid #1A4D2E;
  color: #1A4D2E;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 30px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  cursor: pointer;
  width: 100%;
}
.category-section .category-content .category-filters .category-filter .reset-button:hover {
  background-color: #1A4D2E;
  color: #ffffff;
}
.category-section .category-content .category-items {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.category-section .category-content .category-items .no-results-message {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.category-section .category-content .category-items .no-results-message p {
  font-size: 1.4em;
  width: 100%;
  text-align: center;
}
.category-section .category-content .category-items .category-items-order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.category-section .category-content .category-items .category-items-order .order-by-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}
.category-section .category-content .category-items .category-items-order .order-by-item select {
  margin-left: 5px;
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #1A4D2E;
  color: #1A4D2E;
  cursor: pointer;
}
.category-section .category-content .category-items .highlight-item {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0;
  border-radius: 15px;
  transition-duration: 0.3s;
  cursor: pointer;
  margin: 10px;
  width: calc(25% - 20px);
}
.category-section .category-content .category-items .highlight-item:hover img {
  transform: scale(1.1);
}
.category-section .category-content .category-items .highlight-item .highlight-item-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.category-section .category-content .category-items .highlight-item .highlight-item-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition-duration: 0.3s;
}
.category-section .category-content .category-items .highlight-item .highlight-item-type {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  background-color: #1A4D2E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.category-section .category-content .category-items .highlight-item .highlight-item-type span {
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info {
  padding: 30px 20px;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-title h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-price {
  margin-top: 10px;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-price span {
  font-size: 1.6em;
  font-weight: 400;
  color: #1A4D2E;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-more-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-more-info span {
  width: 50%;
  margin: 5px 0;
}

.login-section {
  position: relative;
  align-content: center;
  padding: 50px 0;
}

.login-container {
  height: 100%;
  align-content: flex-start;
  justify-content: center;
  padding: 0 0 50px 0;
}
.login-container .login-title {
  position: relative;
}
.login-container .login-title h3 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  color: #151515;
}
.login-container .login-title span {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 300;
  display: block;
  color: #1A4D2E;
}
.login-container .login-title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 2px;
  border-radius: 15px;
  background-color: #151515;
}
.login-container .login-items {
  margin-top: 60px;
}
.login-container .login-items label {
  display: block;
  margin: 3px 0;
  width: 100%;
  color: #1A4D2E;
}
.login-container .login-items input {
  margin: 3px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #151515;
  font-size: 1.2em;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.login-container .login-items input ~ label {
  margin-top: 30px;
}
.login-container .login-items input::-moz-placeholder {
  font-size: 0.8em;
}
.login-container .login-items input::placeholder {
  font-size: 0.8em;
}
.login-container .login-items input.repeat-password {
  margin-top: 20px;
}
.login-container .login-items span {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 30px;
  font-size: 0.8em;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #1A4D2E;
}
.login-container .login-items span:hover {
  text-decoration: underline;
}
.login-container .login-items button {
  display: block;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #151515;
  border-radius: 25px;
  padding: 7px 25px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  transition-duration: 0.3s;
}
.login-container .login-items button:hover {
  background-color: #1A4D2E;
  border-color: #1A4D2E;
  color: #ffffff;
}

.hide-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: left 1s cubic-bezier(0.5, 0, 0.15, 1);
}
.hide-login.active {
  left: 50%;
}
.hide-login h2 {
  color: #ffffff;
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-section {
  background-color: #151515;
  padding: 100px 0;
}
.footer-section * {
  color: #ffffff;
}
.footer-section .footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-section .footer-content .footer-branding h2 {
  text-transform: uppercase;
  font-weight: 300;
}
.footer-section .footer-content .footer-branding p {
  margin-top: 20px;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.2em;
  width: 80%;
}
.footer-section .footer-content .footer-contact {
  justify-content: center;
}
.footer-section .footer-content .footer-contact h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}
.footer-section .footer-content .footer-contact p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 300;
}
.footer-section .footer-content .footer-contact p a {
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 5px;
}
.footer-section .footer-content .footer-pages h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}
.footer-section .footer-content .footer-pages ul {
  margin-top: 20px;
}
.footer-section .footer-content .footer-pages ul li {
  font-size: 1em;
  font-weight: 300;
  margin-top: 10px;
  text-transform: uppercase;
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body .cursor {
    display: none;
  }
  body .anchor-top {
    right: 20px;
    bottom: 20px;
  }
  body .menu .pages .page-item {
    display: none;
  }
  body .menu .pages .page-item.contact-item {
    display: flex;
    margin: 0;
  }
  body .cover-section .cover-left .cover-title span {
    font-size: 3em;
  }
  body .cover-section .cover-left .cover-title p {
    font-size: 1.8em;
  }
  body .about-section .about-container {
    flex-wrap: wrap;
  }
  body .about-section .about-container .about-left {
    padding: 0;
  }
  body .about-section .about-container .about-left h2 {
    font-size: 2em;
  }
  body .about-section .about-container .about-right {
    padding: 0;
    margin-top: 20px;
    border-left: none;
  }
  body .steps-section .steps-title {
    padding: 50px 15px;
  }
  body .steps-section .steps-title h3 {
    text-align: center;
    font-size: 2em;
  }
  body .steps-section .steps-container {
    padding: 0 15px;
    margin-top: 20px;
    padding-bottom: 100px;
  }
  body .steps-section .steps-container .steps {
    padding: 0;
    border-left: none;
  }
  body .steps-section .steps-container .steps .titleStep h4 {
    text-align: center;
  }
  body .steps-section .steps-container .steps .textStep span {
    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  body .steps-section .steps-container .last-step-button {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  body .work-section {
    margin-top: 50px;
    padding: 50px 0;
    border-top: none;
  }
  body .work-section .work-container .work-left {
    padding-right: 15px;
    border-right: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .work-section .work-container .work-left h3 {
    text-align: center;
    font-size: 2em;
  }
  body .work-section .work-container .work-left p {
    margin-top: 40px;
    text-align: center;
  }
  body .work-section .work-container .work-right {
    padding: 0 15px;
  }
  body .work-section .work-container .work-right .work-item {
    margin: 30px 0;
    padding: 15px 0;
  }
  body .work-section .work-container .work-right .work-item .work-item-main a {
    line-height: 1.2em;
  }
  body .work-section .work-container .work-right {
    margin-top: 40px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body .contact-section {
    display: flex;
    flex-wrap: wrap;
  }
  body .contact-section .contact-container {
    display: flex;
    flex-wrap: wrap;
  }
  body .contact-section .contact-container .contact-left .question-username {
    margin-top: 40px;
  }
  body .contact-section .contact-container .contact-right {
    margin-top: 50px;
    padding: 0 15px;
    border-left: none;
  }
  body .slick-slider .slick-list .carousel-card img {
    max-height: 70px;
  }
  body .slick-slider .slick-list .carousel-card span {
    margin-top: 20px;
  }
  body .last-step-button {
    display: none;
  }
  body .steps-section .steps-container .steps:last-child {
    margin-bottom: 0;
  }
  body .cover-section .cover-text h1 {
    font-size: 2.6em;
    letter-spacing: 5px;
    line-height: 1.2em;
  }
  body .cover-section .cover-text p {
    width: 100%;
  }
  body .cover-section .cover-search {
    margin: 50px 20px 0;
  }
  body .cover-section .cover-search .input-div select {
    margin-top: 10px;
  }
  body .cover-section .cover-search .input-div {
    margin-top: 40px;
  }
  body .cover-section .cover-search .input-div:first-child {
    margin-top: 0;
  }
  body .cover-section .cover-search .input-div label {
    text-align: center;
  }
  body .cover-section .cover-search .search-button {
    margin-top: 40px;
  }
  body .highlight-section .highlight-title span {
    line-height: 1.2em;
  }
  body .highlight-section .highlight-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 20px;
  }
  body .highlight-section .highlight-list .highlight-item {
    width: 300px;
    min-width: 300px;
  }
  body .highlight-comprar-section .highlight-title span {
    line-height: 1.2em;
  }
  body .highlight-comprar-section .highlight-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 20px;
  }
  body .highlight-comprar-section .highlight-list .highlight-item {
    width: 300px;
    min-width: 300px;
  }
  body .highlight-arrendar-section .highlight-title span {
    line-height: 1.2em;
  }
  body .highlight-arrendar-section .highlight-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 20px;
  }
  body .highlight-arrendar-section .highlight-list .highlight-item {
    width: 300px;
    min-width: 300px;
  }
  body .footer-section {
    padding: 50px 0;
  }
  body .footer-section .footer-content {
    flex-wrap: wrap;
  }
  body .footer-section .footer-content .footer-contact {
    margin-top: 30px;
  }
  body .footer-section .footer-content .footer-pages {
    margin-top: 30px;
  }
  body .footer-section .footer-content .footer-contact p {
    margin-top: 10px;
  }
  body .footer-section .footer-content .footer-pages ul {
    margin-top: 10px;
  }
  body .footer-section .footer-content .footer-branding p {
    margin-top: 10px;
  }
  body .product-detail .product-image .product-images .main-image {
    height: 400px;
  }
  body .product-detail .product-image .product-images .image-nav {
    width: 90%;
  }
  body .product-detail .product-info .product-content {
    padding: 50px 0;
  }
  body .product-detail .product-info .product-content h1 {
    font-size: 2em;
    padding-bottom: 10px;
  }
  body .product-detail .product-info .product-content .product-category {
    font-size: 1.2em;
  }
  body .product-detail .product-info {
    margin-top: 20px;
  }
  body .product-detail .product-info .product-contact-info {
    padding: 20px;
    margin-top: 80px;
  }
  body .product-detail .product-info .product-contact-info .published-person {
    width: 100%;
  }
  body .product-detail .product-info .product-contact-info .published-person .published-person-content {
    margin-left: 20px;
  }
  body .product-detail .product-info .product-contact-info .product-reference {
    width: 100%;
    margin-top: 20px;
  }
  body .product-detail .product-info .product-content .product-button {
    margin-top: 40px;
  }
  body .category-section {
    padding: 0;
  }
  body .category-section .category-title span {
    margin-top: 20px;
  }
  body .category-section .category-content {
    padding: 0;
  }
  body .category-section .category-title {
    margin-top: 20px;
  }
  body .category-section .category-title h1 {
    font-size: 2.6em;
    line-height: 1.2em;
  }
  body .category-section .category-title span {
    line-height: 1.2em;
  }
  body .category-section .category-content {
    margin-top: 40px;
  }
  body .category-section .category-content .category-items {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  body .category-section .category-content .category-items .category-items-order {
    padding: 0;
  }
  body .category-section .category-content .category-items .highlight-item {
    width: 100%;
    margin: 20px 0;
  }
  body .category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-more-info span {
    font-size: 1.4em;
  }
  body .category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-price span {
    font-size: 2.4em;
  }
  body .category-section .category-content .category-items .highlight-item .highlight-item-info .highlight-item-title h4 {
    font-size: 1.4em;
  }
}
/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body .cursor {
    display: none;
  }
  body .menu .pages .page-item {
    display: none;
  }
  body .menu .pages .page-item.contact-item {
    display: flex;
  }
  body .cover-section .cover-left .cover-title span {
    font-size: 4em;
  }
  body .about-section .about-container {
    flex-wrap: wrap;
  }
  body .about-section .about-container .about-right {
    margin-top: 50px;
    padding: 0 40px;
  }
  body .steps-section .steps-container {
    padding: 100px 15px;
  }
  body .steps-section .steps-container .last-step-button {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  body .work-section .work-container {
    flex-wrap: wrap;
  }
  body .work-section .work-container .work-left {
    padding-right: 15px;
    border-right: none;
  }
  body .work-section .work-container .work-right {
    margin-top: 50px;
    border-left: 1px solid #151515;
    padding-left: 30px;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  body .contact-section .contact-container {
    flex-wrap: wrap;
  }
  body .contact-section .contact-container .contact-left .question-username {
    margin-top: 30px;
  }
  body .contact-section .contact-container .contact-right {
    margin-top: 50px;
    padding-left: 15px;
    border-left: none;
  }
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */